@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

body {
    margin: 50px 0 0 0;
    font-family: Raleway, Verdana, sans-serif;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    margin-top: 0em;
}

h2 {
    font-weight: 800;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

nav {
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 8em;
    color: white;
}

nav p {
    font-weight: 800;
    display: inline-block;
}

nav li a:link, nav li a:visited {
    color: white;
    text-decoration: none;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 2em;
    color: #aaa;
}

div#content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

main#right {
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    flex: 1;
}

main#right h1 {
    margin-bottom: 0em;
}

main#right h1 strong {
    font-size: 1.5em;
}

main#right h1 + table {
    margin-top: 1.5em;
}

main#right img {
    width: 30vw;
}

div#graphs {
    width: 65vw;
}

div#graphs p {
    font-size: 0.8em;
}

span#graphs-left {
    display: inline-block;
}

span#graphs-right {
    float: right;
}

aside#left {
    background-color: #22222a;
    flex: 0 0 20em;
    order: -1;
    color: white;
}

aside#right {
    background-color: #22222a;
    flex: 0 0 20em;
    order: 1;
    color: white;
}

aside h2 {
    margin-left: 1em;
    margin-right: 1em;
}

aside h3 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    font-weight: 400;
}

aside p {
    font-size: 1em;
    font-weight: 400;
    padding-left: 1em;
    padding-right: 15px;
}

.showlist {
    margin-bottom: 1em;
}

div.showlist-entry {
    clear: both;
    padding: 0px 0 0px 0;
}

div.showlist-entry .grey {
    border-left: 5px solid #aaa;
}

div.showlist-entry .white {
    border-left: 5px solid #eee;
}

div.showlist-entry-left {
    display: inline-block;
}

div.showlist-no-time {
    height: 48px;
}

aside div.showlist-no-time h3 {
    margin-top: 0.5em;
}

span.showlist-entry-right {
    float: right;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-right: 1em;
    text-align: center;
}
