{% extends "stream_base.html" %}

{% block main %}
    <h1><strong id="listeners">&ndash;</strong> lyttere på streamen akkurat nå.</h1>
    <p>Forrige rekord ble satt av <strong>{{ record.show }}</strong> med <strong>{{ record.listeners }}</strong> samtidige lyttere.
    Dette skjedde {{ record.datetime|date:"d.m.y" }} kl. {{ record.datetime|date:"H:i" }}.</p>
    <hr>
    <div id="graphs">
        <a href="/static/img/last_day.png" data-lightbox="last_day" title="Antall lyttere det siste døgnet"><img src="/static/img/last_day.png"></a>
        <p>Antall lyttere det siste døgnet.</p><br>
        <a href="/static/img/last_week.png" data-lightbox="last_week" title="Antall lyttere den siste uken"><img src="/static/img/last_week.png"></a>
        <p>Antall lyttere den siste uken.</p>
    </div>
{% endblock %}
