{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <title>Radio Revolt &ndash; Statistikk</title>
        {% block head_before %}
        {% endblock %}
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link href="{% static "css/lightbox.css" %}" rel="stylesheet" />
        <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
        <script src="{% static "js/lightbox-2.6.min.js" %}"></script>
        {% block head_after %}
        {% endblock %}
    </head>
    <body>
    <div id="content">
        <nav>
            <p>Lytterstatistikk for Radio Revolt</p>
            <ul>
                <li><a href="{% url "stream_overview" %}">Livestream</a></li>
                <li><a href="{% url "podcast_overview" %}">Podcast</a></li>
                <li>Stream-on-demand (kommer)</li>
            </ul>
        </nav>
        <main id="right">
            {% block main %}
            {% endblock %}
        </main>
        <aside id="left">
            {% block left %}
            {% endblock %}
        </aside>
        <aside id="right">
            {% block right %}
            {% endblock %}
        </aside>
    </div>
    {% block bottom_scripts %}
    {% endblock %}
    </body>
</html>
